@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;300;400;500;600;700;800;900&display=swap");
* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: #1b1317;
}

body {
  font-family: "Raleway", sans-serif;
  overflow: hidden;
  width: 100vw;
  height: 100vh;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto auto;
      grid-template-columns: auto auto;
  -ms-grid-rows: auto auto;
      grid-template-rows: auto auto;
      grid-template-areas: "header header"
 "aside main";
  background-color: #fafafa;
}

body .backgroundimg {
  position: absolute;
  top: 0;
  right: -10px;
  z-index: -1;
}

a {
  text-decoration: none;
  position: relative;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
}

a::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: -1px;
  width: 100%;
  height: 2px;
  background-color: #1b1317;
  border-radius: 50px;
  -webkit-transform-origin: center;
          transform-origin: center;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  -webkit-transition: -webkit-transform 0.5s cubic-bezier(0, 0.79, 0.79, 0.93);
  transition: -webkit-transform 0.5s cubic-bezier(0, 0.79, 0.79, 0.93);
  transition: transform 0.5s cubic-bezier(0, 0.79, 0.79, 0.93);
  transition: transform 0.5s cubic-bezier(0, 0.79, 0.79, 0.93), -webkit-transform 0.5s cubic-bezier(0, 0.79, 0.79, 0.93);
}

a:hover::after, a:focus::after {
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
  -webkit-transform-origin: center;
          transform-origin: center;
}

header {
  width: 100vw;
  height: 190px;
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: header;
}

header .logo {
  margin: 40px;
}

header .menu-switch {
  display: block;
  position: absolute;
  top: 90px;
  right: 80px;
  z-index: 1;
  -webkit-user-select: none;
  -moz-user-select: none;
   -ms-user-select: none;
       user-select: none;
}

header .menu-switch input {
  display: block;
  width: 40px;
  height: 32px;
  position: absolute;
  top: -7px;
  left: -5px;
  cursor: pointer;
  opacity: 0;
  /* hide this */
  z-index: 2;
  /* and place it over the hamburger */
  -webkit-touch-callout: none;
}

header .menu-switch input:checked ~ span {
  opacity: 1;
  transform: rotate(45deg) translate(-2px, -1px);
  background: #232323;
}

header .menu-switch input:checked ~ span:nth-last-child(3) {
  opacity: 0;
  transform: rotate(0deg) scale(0.2, 0.2);
}

header .menu-switch input:checked ~ span:nth-last-child(2) {
  transform: rotate(-45deg) translate(0, -1px);
}

header .menu-switch span {
  display: block;
  width: 33px;
  height: 4px;
  margin-bottom: 5px;
  position: relative;
  background: #1b1317;
  border-radius: 3px;
  z-index: 1;
  -webkit-transform-origin: 4px 0px;
          transform-origin: 4px 0px;
  -webkit-transition: background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), opacity 0.55s ease, -webkit-transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
  transition: background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), opacity 0.55s ease, -webkit-transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
  transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), opacity 0.55s ease;
  transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), opacity 0.55s ease, -webkit-transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
}

header .menu-switch span:first-child {
  -webkit-transform-origin: 0% 0%;
          transform-origin: 0% 0%;
}

header .menu-switch span:nth-last-child(2) {
  -webkit-transform-origin: 0% 100%;
          transform-origin: 0% 100%;
}

main {
  -ms-grid-row: 2;
  -ms-grid-column: 2;
  grid-area: main;
  width: 80vw;
  height: calc(100vh - 190px);
}

main .content {
  width: 80vw;
  height: calc(100vh - 190px);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

main .content h2 {
  font-size: 96px;
  font-weight: normal;
}

main .content h2 span {
  font-weight: bolder;
}

main .content p {
  font-size: 64px;
}

main .content a {
  font-size: 24px;
}

aside {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: aside;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 20vw;
  height: calc(100vh - 100px);
  padding-top: 20px;
}

aside a {
  font-weight: bold;
  margin: 20px 40px;
  font-size: 24px;
}

@media only screen and (max-width: 1000px) {
  body {
    grid-template-areas: "header header" "main main";
  }
  body aside {
    display: none;
  }
  body main {
    width: 100vw;
  }
  body main .content {
    width: 100vw;
  }
  body main .content .spacer {
    display: none;
  }
  body main .content h2 {
    display: none;
  }
  body main .content .wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    justify-items: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  body main .content .wrapper p {
    text-align: center;
  }
  body main .content .wrapper a {
    text-align: center;
  }
}
/*# sourceMappingURL=main.css.map */