@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import "./mixins/mixins";
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  color: #1b1317;
}

body {
  font-family: "Raleway", sans-serif;

  width: 100vw;
  height: 100vh;

  overflow: hidden;

  background-color: #fafafa;

  .backgroundimg {
    position: absolute;
    top: 40vh;
    right: 5vw;
    z-index: -1;
  }
  .mobile {
    position: relative;
    width: 100vw;
    height: 100vh;

    overflow: hidden;

    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto;
    grid-template-areas:
      "header header"
      "aside main";
  }
}

a {
  text-decoration: none;
  @include HoverFx(2px, #1b1317, 0);
  width: max-content;
}

header {
  width: 100vw;
  height: 190px;
  display: flex;

  justify-content: space-between;
  align-items: center;

  grid-area: header;

  .logo {
    display: inline-block;
    margin: 40px;
  }

  ul {
    display: inline-flex;
    width: 50vw;

    h2 {
      @include HoverFx(2px, #1b1317, 0);
      width: max-content;
      text-align: center;
      margin: 0px auto;
    }
  }

  .menu-switch {
    display: none;
    position: absolute;
    top: 90px;
    right: 40px;

    z-index: 1;

    -webkit-user-select: none;
    user-select: none;
    input {
      display: block;
      width: 40px;
      height: 32px;
      position: absolute;
      top: -7px;
      left: -5px;

      cursor: pointer;

      opacity: 0; /* hide this */
      z-index: 2; /* and place it over the hamburger */

      -webkit-touch-callout: none;

      &:checked ~ span {
        opacity: 1;
        transform: rotate(45deg) translate(-2px, -1px);
        background: #232323;
      }

      &:checked ~ span:nth-last-child(2) {
        opacity: 0;
        transform: rotate(0deg) scale(0.2, 0.2);
      }
      &:checked ~ span:nth-last-child(1) {
        transform: rotate(-45deg) translate(-1px, -4px);
      }
      &:checked ~ ul {
        transform: none;
      }
    }
    span {
      display: block;
      width: 33px;
      height: 4px;
      margin-bottom: 5px;
      position: relative;

      background: #1b1317;
      border-radius: 3px;

      z-index: 1;

      transform-origin: 4px 0px;

      transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1),
        background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), opacity 0.55s ease;
      &:first-child {
        transform-origin: 0% 0%;
      }
      &:nth-last-child(2) {
        transform-origin: 0% 100%;
      }
    }
  }
}
main {
  grid-area: main;

  width: 80vw;
  height: calc(100vh - 190px);
  .slider {
    width: 80vw;
    height: calc(100vh - 190px);
    transition: 0.3s ease-out;
    display: flex;
    flex-direction: row;
    .content-Home {
      min-width: 80vw;
      width: 80vw;
      height: calc(100vh - 190px);
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      h1 {
        font-size: 96px;
        font-weight: normal;
        span {
          font-weight: bolder;
        }
      }
      p {
        font-size: 64px;
      }
      a {
        font-size: 24px;
      }
    }
    .content-About {
      min-width: 80vw;
      width: 80vw;
      height: calc(100vh - 190px);
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      h2 {
        font-size: 64px;
        font-weight: bolder;
        text-align: center;
      }
      p {
        font-size: 24px;
      }
      a {
        font-size: 24px;
      }
      .companyPhoto {
        width: 80vw;
        display: flex;
        justify-content: center;
        img {
          width: 70vw;
          height: auto;
        }
      }
    }
    p {
      font-size: 64px;
    }
    a {
      font-size: 24px;
    .content-Com {
      min-width: 80vw;
      width: 80vw;
      height: calc(100vh - 190px);
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      h2 {
        font-size: 64px;
        font-weight: bolder;
        text-align: center;
      }
      p {
        font-size: 24px;
      }
      a {
        font-size: 24px;
      }
    }
    .content-Archive {
      min-width: 80vw;
      width: 80vw;
      height: calc(100vh - 190px);
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      h2 {
        font-size: 64px;
        text-align: center;
        font-weight: bolder;
      }
      p {
        font-size: 64px;
      }
      a {
        font-size: 24px;
      }
      .photoGrid {
        display: inline-flex;
        justify-content: center;
        width: 80vw;

        img {
          width: 35vw;
          padding: 2vw;
        }
      }
    }
    .content-Contact {
      min-width: 80vw;
      width: 80vw;
      height: calc(100vh - 190px);
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      h1 {
        font-size: 96px;
        font-weight: normal;
        span {
          font-weight: bolder;
        }
      }
      p {
        font-size: 64px;
      }
      a {
        font-size: 24px;
      }
    }
  }
}

aside {
  background-color: #fafafa;
  grid-area: aside;
  display: flex;
  flex-direction: column;

  width: 20vw;
  height: calc(100vh - 190px);

  padding-top: 20px;

  transition: 0.3s ease-out;

  z-index: 1;

  transform: translate(0, 0);

  a {
    font-weight: bold;
    margin: 20px 40px;
    font-size: 24px;
  }
}

@media only screen and (max-width: 1000px) {
  body {
    header {
      #mainMenu {
        display: none;
      }
      .menu-switch {
        display: block;
      }
      .logo {
        img {
          width: 60vw;
          max-width: 369px;
          height: auto;
        }
      }
    }
    grid-template-areas:
      "header header"
      "main main";
    aside {
      position: absolute;
      top: 190px;
      width: 100vw;
      height: calc(100vh - 190px);

      align-items: center;

      transform: translate(100vw, 0);

      padding-top: 10vh;

      a {
        font-size: 36px;
      }
    }

    main {
      width: 100vw;
      .slider {
        width: 100vw;
        flex-direction: column;

        overflow-y: scroll;
        .content {
          width: 100vw;
          .spacer {
            display: none;
          }
          h1 {
            display: none;
          }
          .wrapper {
            display: flex;
            flex-direction: column;
            justify-items: center;
            align-items: center;
            p {
              text-align: center;
            }
            a {
              text-align: center;
            }
          }
        }
      }
    }
  }
}
}