@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;300;400;500;600;700;800;900&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  font-family: "Raleway", sans-serif;

  width: 100vw;
  height: 100vh;

  display: grid;
  grid-template-areas: 
    "header header"
    "asider main";
  ;
}

header{
grid-area: header;
}

main{
  grid-area: main;
}

aside{
  grid-area: aside;
}